.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:1.5rem 7%;

    /* padding:1.5rem 7%; */
}
.about_content{
    display: flex;
    justify-content: center;


}
.about_image{
    min-width: 50%;
    flex: 1 1 45rem;
}
.about_text{
    min-width: 50%;
    display: flex;
    background: #13131a;
    justify-content: center;
    flex-direction: column;
    padding: 4rem 2rem;

}
.about_text1{
    font-size: 3rem;
    color:#fff;
    
}
.abouttext{
    font-size: 1.6rem;
    color:#ccc;
    padding:1rem 0;
    line-height: 1.8;
    margin-top: 1rem;
    color: #fff;
    font-size:1.6rem;
}
.about_title{
    font-size: 4rem;
    margin: 3rem;
    color: #d3ad7f;
}
.span{
    color: #d3ad7f;
    color: #fff;

}
@media all and (max-width: 960px){
    .about_content{
        flex-wrap: wrap;
        
    }
}