.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    background:  #d3ad7f;
    cursor: pointer;
}

.btn:hover{
    letter-spacing: .2rem;
    color: #000;
}